*.iml
.gradle/
.gradle
/local.properties
local.properties
.idea/
.idea
.DS_Store
/build/
/build
build/
app/build/
core/*/build/
feature/*/build/
/captures
.externalNativeBuild
.cxx
*.hprof
.build/
garuda-macos/.build/
*.xcodeproj
*.xcworkspace
.kotlin/
.kotlin
*.log
*.tmp
